* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: myFont;
  src: url(../assets/Talk.ttf);
}

:root {
  --Secondary: #c4e1e4;
  --Prymary: #3081f1;
  --White: #fff;
  --gray: #bcf1f1d8;
  --Black: #000
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--Secondary);
  font-family: myFont, serif;
}

h2,
h3 {
  font-size: 2rem;
  font-style: var(--);
  padding: 0;
  margin-top: 0.5rem;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.title-header {
  display: flex;
  align-self: center;
  margin: 0.5rem;
  color: var(--Primary);
  font-size: 1.5rem;
  width: fit-content;
}

.main-container {
  display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    height: auto;
    gap: 0.9rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  padding: 0.2rem;
  border: solid var(--Black);
  overflow-x: scroll;
  overflow: scroll;
  background-color: var(--White);
}

ul, li {
  list-style-type: none;
}

li:nth-child(-n + 3) {
  margin-bottom: 1px;
}

.contentlist {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: auto;
  height: auto;
}

.contentlist:nth-child(even) {
  background-color: var(--gray);
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 2rem;
  padding: 0.1rem;
}

.semi-column {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.title-head-left {
  margin: 0;
  align-items: flex-start;
  width: fit-content;
  font-size: 1.2rem;
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0.3rem;
  gap: 1rem;
}

#name-input, 
#score-input {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  border: solid var(--Black);
  
}

#add, 
#refresh {
 /*  width: 5rem;
  height: 2rem;
  float: left;
  align-items: flex-start;
  position: relative; */
  width: 5rem;
  height: 2rem;
  align-self: flex-end;
  align-items: center;
  color: var(--Primary);
  background-color: var(--gray);
  border-radius: 1rem;
  border-top: 1rem;
  border-left: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.left {
  margin: 0.5rem;
  
}

.left-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem 0.1rem;
}

.right {
  display: flex;
  flex-direction: column;
    width: 100%;
    flex: 50%;
    height: auto;
    padding: 1rem;
    margin: 0;
}



@media only screen and (min-width: 768px) {

  body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 3rem;
  }

  .title-header {
    display: flex;
    align-self: flex-start;
  }
  
  .left {
    display: flex;
    flex-direction: column;
      width: 70%;
      height: auto;
  }
  
  .left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: auto;
    
  }

  .title-head-left {
    display: flex;
    align-items: flex-start;
    margin: 0;
    width: 100%;
  }

  #refresh {
    width: 10rem;
  }

  .right {
    width: 100%;
  }
  
  
  
  
  

}

